<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzq_24Z1Du1RfR0qsAIaS5sGZaNDfRZD8</string>
	<key>GCM_SENDER_ID</key>
	<string>626712733047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.ageempower</string>
	<key>PROJECT_ID</key>
	<string>age-empower-7wy650</string>
	<key>STORAGE_BUCKET</key>
	<string>age-empower-7wy650.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626712733047:ios:617e09a5a735f6f6d1ad72</string>
</dict>
</plist>